# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log
.flattened-pom.xml
invoker-logs/
*-shaded.jar

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.factorypath

# Operating System
Thumbs.db
desktop.ini
.DS_Store

# Application & Database
*.ser
*.db
*.log
debug_launch.bat
LaunchOrion.vbs
